.RFQInvitations {
  background: #efefef;
  height: 100%;
  overflow: auto;
}

.RFQInvitations .section {
  color: #b8b8b8;
  padding: 10px;
  background: #fff;
}
.RFQInvitations .section:first-of-type {
  margin-top: 0px;
}
.RFQInvitations .title {
  display: flex;
  justify-content: space-between;
}
.RFQInvitations .title > div:first-of-type {
  width: 50%;
}

.RFQInvitations .RFQIcon {
  width: 20px;
  height: 25px;
}
.noRFqs {
  color: #a6a6a6;
  margin: 20px 0;
  font-size: 17.5px;
}
.invitations_number {
  border-radius: 50px;
  background: red;
  color: #fff;
  width: 35px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
