.RFQInvitations {
	background: #efefef;
	height: max-content;
	padding: 2px;
}

.RFQInvitations .section {
	color: #b8b8b8;
	padding: 20px;
	background: #fff;
	margin: 2px;
}
.RFQInvitations .section:first-of-type {
	margin-top: 0px;
}
.RFQInvitations .title {
	display: flex;
	justify-content: space-between;
}

.RFQInvitations .RFQIcon {
	width: 20px;
}
.invitations_number {
	border-radius: 45%;
	background: red;
	color: #fff;
	width: 30px;
	height: 27px;
	line-height: 27px;
	text-align: center;
}
