.PersonalInfo {
	padding: 20px 0;
}
.PersonalInfo .profileHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.PersonalInfo .info__name {
	color: #707070;
	font-size: 1.15rem;
	margin-bottom: 0.5rem;
}

.PersonalInfo .info__companyName {
	color: #003b6b;
}
.PersonalInfo .add-vendors-Btn,
.PersonalInfo .add-vendors-Btn:hover {
	width: fit-content;
	margin: auto;
	border-color: #003b6b !important;
	color: #003b6b !important;
	border-radius: 5px;
	height: 42px;
}
.PersonalInfo .added-vendors-Btn ,
.PersonalInfo .added-vendors-Btn:hover{
	width: fit-content;
	margin: auto;
	border-color: #003b6b !important;
	background: #003b6b !important;
	color: #fff !important;
	border-radius: 5px;
	height: 42px;
}
.PersonalInfo .ratingBox{
	position: relative;
}
.PersonalInfo .ratingDetails{
	position: absolute;
	bottom: -230%;
	left: 0;
	background: rgba(46, 46, 46, 0.8);
	border-radius: 5px;
	color:#fff
}
.PersonalInfo .ratingDetails::before{
	content:"";
	display: block;
	position: absolute;
	top:-10px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgba(46, 46, 46, 0.8);;
}

@media (max-width: 767px) {
	.PersonalInfo .profileHeader {
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}
}
.PersonalInfo .profileHeader__personal {
	display: flex;
}
.PersonalInfo .profileHeader__info {
	display: flex;
	margin-right: 1.5rem;
}
.PersonalInfo .profileHeader__info .draft {
	color: #032440;
	margin-left: 0.5rem;
}

.PersonalInfo .profileHeader__info .num {
	background: #f90d0d;
	color: white;
	padding: 0 1rem;
	margin-left: 1rem;
	height: 20px;
	border-radius: 1.5rem;
}
.PersonalInfo .orange_btn {
	height: fit-content;
	padding: 10px;
}
.PersonalInfo .mobile {
	color: #2699fb;
}
.PersonalInfo > div:first-of-type {
	display: flex;
	flex-wrap: wrap;
}
.PersonalInfo img.user {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.PersonalInfo .info {
	margin: 10px;
}
.PersonalInfo .progress {
	height: 14px;
	width: 230px;
	border-radius: 30px;
	margin-top: 4px;
}
.PersonalInfo .progressContainer span {
	margin-right: 15px;
	margin-left: 15px;
	width: 100%;
}
.PersonalInfo .progress .progress-bar {
	border-radius: 30px !important;
}
.PersonalInfo .progressContainer {
	display: flex;
	margin-bottom: 10px;
}

.PersonalInfo .progressContainer span {
	color: #005fb1;
}

.PersonalInfo .actions {
	display: inline-block;
}
.PersonalInfo .actions.left {
	margin-left: auto;
}
.PersonalInfo .actions.right {
	margin-right: auto;
}

.PersonalInfo .bussiness-cards {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 480px) {
	.progressContainer {
		flex-direction: column;
	}
	.progressContainer .progress {
		width: 90%;
	}
	.progressContainer > span {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.PersonalInfo .actions {
		margin-left: 0;
		margin-right: auto;
	}
	.PersonalInfo .actions .popup-button-secondary,
	.PersonalInfo .actions .popup-button-primary {
		font-size: 12px;
		padding: 2px 20px;
	}
}
html[dir="rtl"] .PersonalInfo .profileHeader__info .draft {
	margin-left: unset;
	margin-right: 0.5rem;
}

html[dir="rtl"] .PersonalInfo .profileHeader__info .num {
	margin-right: 1rem;
}
