.addRFQDetails .input-field {
	margin: 0 5px;
	width:50%;
}
.addRFQDetails .errorSign {
	color: red;
}
.addRFQDetails .field-container>label{
	max-width: 25%;
}
.addRFQDetails .ant-select-selector {
	border: none !important;
	box-shadow: none !important;
}
.addRFQDetails .ant-select-focused {
	box-shadow: none !important;
}
.addRFQDetails .tenderType {
	background-color: #f5f5f5;
	padding: 18px;
}
@media (max-width: 576px) {
	.addRFQDetails .rfq-info-container {
		flex-direction: column;
	}
}
