.supplierCard {
	width: 100%;
	position: relative;
}
.supplierCard .supplierImg {
	display: flex;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0px 3px 6px #00000029;
	cursor: pointer;
	height: 200px;
	width: 100%;
}
.supplierCard .infoContainer {
	text-overflow: ellipsis;
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
}
.supplierCard .overlay .name {
	color: rgba(252, 107, 94, 1);
}
.supplierCard .overlay:not(.name) {
	color: #fff;
}

.supplierCard .overlay {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #003b6b;
	opacity: 1;
	border-radius: 8px;
	box-shadow: 0px 3px 6px #00000029;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
	transition: all 0.4s ease-in-out;
}
.supplierCard .infoIcon {
	width: 25px;
}
.supplierCard .font-white {
	color: #fff;
}
.supplierCard .fadeOutOverlay {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
