._1lB9c,
._1Yplu,
._eV_dK {
	display: none !important;
}
._f2DT8 > span {
	font-size: 20px !important;
}

._1ceqH ._3bC73 ._1YOWG {
	position: unset !important;
	transform: translate(0) !important;
}
._1ceqH ._dt3-T {
	min-height: 130px !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 10px !important;
}
._1ceqH ._2fG9h {
	padding: 10px 0 !important;
}
._1dpop {
	background-color: rgb(38, 153, 251) !important;
	width: 50px !important;
	height: 50px !important;
}
._3wi1g:hover,
._1dpop:hover ._3wi1g {
	fill: rgb(38, 153, 251) !important;
}
._1dpop:hover {
	background-color: #fff !important;
}
