.quarterCard {
	box-shadow: 0 3px 6px #00000029;
	margin: 10px;
}
.quarterCard > div:not(.doughnutContainer) {
	padding: 20px;
}
.quarterCard .doughnutContainer {
	width: 200px;
	position: relative;
	margin: auto;
}
.quarterCard .doughnutText {
	/* position: absolute;
	top: 46%;
	left: 33%; */
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quarterCard .percentage {
	color: #fc6b5e;
}

.quarterCard .colorLabel{
	width: 15px;
	height: 15px;
}
.quarterCard .colorLabel.blue{
	background-color: #0370FF;
}

.quarterCard .colorLabel.orange{
	background-color: #FC6B5E;
}