.quarterCard {
	box-shadow: 0 3px 6px #00000029;
	margin: 10px;
}
.quarterCard > div:not(.doughnutContainer) {
	padding: 20px;
}
.quarterCard .doughnutContainer {
	width: 200px;
	position: relative;
	margin: auto;
}
.quarterCard .doughnutText {
	position: absolute;
	top: 46%;
	left: 33%;
}

.quarterCard .percentage {
	color: #fc6b5e;
}
