.companyCard {
	box-shadow: 0px 3px 6px #00000029;
	padding: 10px 10px 5px;
	margin-right: 1rem;
	flex: 1;
	position: relative;
}

.companyCard.sidebar {
	margin-right: 0;
	box-shadow: none;
}
.companyCard.sidebar .companyCard__header {
	flex-direction: column;
}
.companyCard.sidebar .companyCard__btn {
	margin-bottom: 1rem;
}

.companyCard .companCard__edit {
	position: absolute;
	top: 0.5rem;
	right: 1.5rem;
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 2rem;
	line-height: 0;
}

html[dir="rtl"].companyCard .companCard__edit {
	right: unset;
	left: 0.5rem;
}
.companyCard .min-height-100 {
	min-height: 100%;
}
.companyProfile__header {
	color: #707070;
	font-weight: bold;
	margin-right: 0.5rem;
}
.companyCard header {
	width: 100%;
}
.companyCard header h6 {
	margin-bottom: 0;
}
.companyCard .companyImg {
	width: 50px;
	height: 50px;
	border: 1px solid #707070;
}

.companyCard > ul > li > img {
	width: 70px;
	height: 50px;
	border-radius: 17px;
	display: block;
}

.companyCard > ul {
	padding: 0;
}

.companyCard ul .item {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 14px;
}
.companyCard .companyCard__label {
	color: #707070;
	font-weight: bold;
	margin-right: 0.5rem;
}
.companyCard .companyCard__val {
	color: #003b6b;
}
.companyCard .companyCard__btn {
	margin-top: 0.5rem;
	font-size: 14px;
	background: #fc6b5e;
	color: white;
	flex: 1;
}
.companyCard .companyCard__recordFig {
	width: 100%;
}
.companyCard .companyCard__recordFig > img {
	width: 100%;
}
.btn:hover {
	color: unset;
}
html[dir="rtl"] .companyCard {
	margin-right: unset;
	margin-left: 1.25rem;
}
html[dir="rtl"] .companyProfile__header {
	margin-right: unset;
	margin-left: 0.5rem;
}
html[dir="rtl"] .companyCard .companyCard__label {
	margin-right: unset;
	margin-left: 0.5rem;
}
@media (max-width: 767px) {
	.companyCard .companyCard__val {
		display: block;
	}
	.companyCard {
		margin-right: unset;
		margin-left: unset;
		margin-bottom: 1rem;
	}
	.companyCard .companyImg {
		margin-bottom: 1rem;
		align-self: flex-start;
	}
	.companyProfile__header {
		margin-left: 0 !important;
		align-self: flex-start;
	}
	.companyCard > .d-flex {
		flex-direction: column;
	}
	.companyCard .companyCard__btn {
		font-size: 12px;
		align-self: flex-start;
	}
}

@media (max-width: 1000px) {
	.companyCard .companyCard__header {
		flex-wrap: wrap;
	}
	.companyCard .companyImg {
		margin-bottom: 1rem;
	}
}
