.ProductCard {
  background: #fcfcfc;
  width: 90%;
  margin: 10px auto;
  height: 180px;
  border-radius: 12px;
}
.ProductCard .productImg {
  width: 100%;
}
.ProductCard .productName {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.productMenu > ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
