.ProductCard {
	background: #fcfcfc;
	width: 90%;
	margin: 10px auto;
	height: 180px;
	border-radius: 12px;
}
.ProductCard .productImg {
	width: 100%;
	height: 80%;
}
.productName {
	width: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
