.landingPage
{
    height: 81vh;
background-image: url("../../../../../Resources/Assets/AdobeStock_63818065_Preview.png");
background-attachment:bottom;
background-repeat: no-repeat;
background-size:100% 100%;
/* background: url("../../../../../Resources/Assets/AdobeStock_63818065_Preview.png") no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
}
.landingPage .container
{
    height: 100%;
}

.landingPage .button button{
    background-color: #FC6B5E;
    border-radius: 12px;
opacity: 0.75;
padding: 12px 68px ;

}
.landingPage .liveBox
{
    display: flex;
    align-items: flex-end;
    height: 100%;
padding-bottom: 37px;
width: 100%;
margin-top: 20px;
}

.landingPage .liveBox p{
    margin-top: 25px;
    margin-left: 60px;
    
}
.landingPage .search
{
    position: relative;
    margin-bottom: 25px;
}
.landingPage img
{
    position: absolute;
    top: 10px;
    left: 10px;

}
.landingPage  h3{
    color:#FC6B5E;
}
.landingPage .lastUpdatStock
{
width: 100%;
}