.ResetPassword .LoginForm
{
	display: flex;
height: 59vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@-moz-document url-prefix() {
	.ResetPassword .LoginForm
	{
		display: flex;
	height: 60vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
  }
.ResetPassword .LoginForm .form
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ResetPassword .LoginForm .w-50
{
	width: 40% !important;
}
.ResetPassword .LoginForm .f-27 {
	font-weight: bold;
	color: #0370ff;
}
.ResetPassword .LoginForm .input-field
{
    width: 100% !important;
	font-size: 14px;
}
/* .ResetPassword .LoginForm  ::placeholder {
	color: #bce0fd;
	opacity: 1;
} */

.ResetPassword .LoginForm :-ms-input-placeholder {
	color: #bce0fd;
}

.ResetPassword .LoginForm ::-ms-input-placeholder {
	color: #bce0fd;
}
.ResetPassword .LoginForm input:focus::-webkit-input-placeholder {
	color: #0370ff;
}
.ResetPassword .LoginForm .forgetPassword a {
    color: #0370ff !important;
    text-decoration: none !important;
	font-size: 12px !important;

}
.ResetPassword .LoginForm .forgetPassword
{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.ResetPassword .LoginForm .checkAccount
{
    color: #0370ff;
    display: flex;
    justify-content: center;
	font-size: 14px;

}
.ResetPassword .LoginForm .checkAccount a
{
    color: #0370ff;
    text-decoration: none;
}
.ResetPassword .LoginForm input:focus:-moz-placeholder {
	color: #0370ff;
}

.ResetPassword .LoginForm input:focus::-moz-placeholder {
	color: #0370ff;
}
.ResetPassword .LoginForm input:focus:-ms-input-placeholder {
	color: #0370ff;
}

.ResetPassword .LoginForm  .button-primary {
	padding-left: 144px;
	padding-right: 144px;
}
.ResetPassword .LoginForm  .button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.ResetPassword .LoginForm  .button button {
	margin-bottom: 16px;
}
.ResetPassword .LoginForm  .content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

.ResetPassword .LoginForm  .active {
	color: #0370ff;
}
.ResetPassword .LoginForm  input::-webkit-outer-spin-button,
.ResetPassword .LoginForm  input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.ResetPassword .LoginForm  input[type="number"] {
	-moz-appearance: textfield;
}
.ResetPassword .LoginForm  .loginByMobileLink a
{
	color: #003b6b;
    text-decoration: none;
}
.ResetPassword .LoginForm .error::placeholder
{
	color: red !important;
}
.ResetPassword .LoginForm .error
{
	border-color: red !important;
}
.ResetPassword .alertMsg,.countryAlert
{
	color: red;
}

.ResetPassword p{
	height: 24px;
	margin-bottom: 0px;
}

.ResetPassword .LoginForm .errorMsg,.ResetPassword .LoginForm .passerrorMsg
{
	color: red !important;
	
}

.ResetPassword .LoginForm .errorMsg div
{
margin-bottom: -13px;
}
@media only screen and (max-width: 768px) {
    .ResetPassword .LoginForm  .w-50
    {
  width: 80% !important;
    }
	.ResetPassword .LoginForm  .forgetPassword {
		display: flex;
		justify-content: flex-end;
		width: 76%;
	}
	.ResetPassword .LoginForm 
{
	display: flex;
height: 55vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@-moz-document url-prefix() {
	.ResetPassword .LoginForm
	{
		display: flex;
	height: 56vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
  }
  }