.actionsContainer {
	display: flex;
	justify-content: space-between;
}
.actionsContainer > div > div img {
	cursor: pointer;
}
.RFQTable textarea,
.RFQTable input[type="number"] {
	background: #f5f5f5 !important;
	resize: none !important;
	border: none !important;
	overflow: auto;
	scrollbar-width: none;
	height: 20px;
}
.RFQTable textarea::-webkit-scrollbar {
	display: none;
}

.RFQTable input::-webkit-outer-spin-button,
.RFQTable input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.RFQTable input[type="number"] {
	-moz-appearance: textfield;
}
.RFQTable .ant-select-selection-placeholder {
	color: #000;
}
.RFQTable .addressBar {
	width: 50%;
}
.RFQTable .addressBar.border {
	border: 1px solid #99cffd;
}
.RFQTable .button-primary.native {
	width: 270px;
	margin: auto !important;
}
.RFQTable table {
	width: max-content !important;
}

.RFQTable .ant-radio-wrapper span {
	color: #99cffd !important;
}
.RFQTable .datePicker {
	border: 1px solid #99cffd;
}

.RFQTable .ant-picker.datePicker {
	justify-content: space-between;
}
.RFQTable .showGarbage {
	opacity: 1;
	transition: all 0.4s ease-in-out;
}
.RFQTable .hideGarbage {
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
.datePickerContainer {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.RFQTable .ant-table-cell {
		font-size: 13px !important;
	}
}
