.OfferTable .ant-pagination{
    display: flex !important;
    justify-content: center !important;
} 
.OfferTable .ant-dropdown-trigger
{

    border: none;
    box-shadow: none !important;
    background-color: transparent;
}
.OfferTable .ant-dropdown-trigger:hover
{

    color:#000;
}
.OfferTable table .ant-table-row:hover
{
    background-color: transparent !important;
}
.ant-dropdown-menu-item-divider
{
    background-color: transparent !important;
}