.OfferTable .ant-pagination{
    display: flex !important;
    justify-content: center !important;
} 
.OfferTable .ant-dropdown-trigger
{

    border: none;
    box-shadow: none !important;
    background-color: transparent;
}
.OfferTable .ant-dropdown-trigger:hover
{

    color:#000;
}
.OfferTable table .ant-table-row:hover
{
    background-color: transparent !important;
}

.OfferTable .ant-table-thead > tr >th{
    color: #fff !important;
    background: #003B6B !important;
    text-align: center !important;
    font-weight: 400 !important;

  }

  .OfferTable .ant-table-tbody > tr {
    background:#F5F5F5 !important;
    color: #707070;
    }
.OfferTable .bordercol
{
    border-right: 2px solid #fff;
}
.OfferTable .bottomBorderCol{
    border-bottom: 2px solid #fff;

}

.OfferTable table:hover,
.OfferTable tr:hover,
.OfferTable thead:hover {
    background: #F5F5F5 !important;
}

.OfferTable .ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}
.OfferTable .ant-dropdown-trigger:hover
{
 background-color: transparent;
}
.OfferTable .ant-dropdown-trigger:active
{
 background-color: transparent;
 border: none;
 box-shadow: none;
 outline: none;
}
.OfferTable .ant-dropdown-trigger:focus
{
 background-color: transparent;
 border: none;
 box-shadow: none;
 outline: none;
}
.OfferTable .ant-btn:active
{
    color: #707070 !important;
}
.ant-btn:hover, .ant-btn:focus {
    color: #707070 !important;
}
.ant-btn::after
{
  display: none !important;
  /* border: none !important;
  box-shadow: none !important;
  outline: none !important; */
}
.delete
{
    text-align:right !important;
}
.OfferTable .download , .OfferTable .share
{
    cursor: pointer;

}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title 
{
    font-size: 12px !important;
}
.OfferTable .shortText{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:75px;
}
.OfferTable .ant-table-cell 
{
    padding:16px 10px !important;
}
.acceptOffer , .chat , .delete
{
    margin-left: 8px !important;
}
.OfferTable .ant-pagination
{
    justify-content: flex-end !important;
}
.OfferTble .ant-table-cell .ant-btn-group .ant-dropdown-button
{
    text-align: left !important;

}
.OfferTable .nameEmp ,.company , .price , .city ,.PaymentConditions ,.rating ,.valum , .note  {
  text-align: center ;
}

