.productDetails .productImg {
	width: 90%;
}
.productDetails .companyLogo {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.productDetails .productName,
.productDetails .price {
	color: #f50000;
	font-size: 17.5px;
	font-weight: bold;
}

.productDetails label {
	font-size: 17.5px;
}
