.singleRFQModal {
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.singleRFQModal .btn-container {
	justify-content: center;
	width: 100%;
}
.singleRFQModal .button-primary {
	padding: 2px 50px;
}
.singleRFQModal .button-secondary {
	background-color: #fc6b5e;
	border-color: #fc6b5e;
	color: #fff;
}
.singleRFQModal input,
.singleRFQModal .ant-picker {
	min-width: 100px;
}
@media (max-width: 768px) {
	.singleRFQModal .btn-container {
		flex-direction: column;
	}
	.singleRFQModal .btn-container > button {
		margin-top: 10px;
	}
	.singleRFQModal .actionsSection {
		flex-direction: column;
	}
}
