.AuthHeader
{
    margin-top: 13px;
    margin-bottom: 24px;
    /* padding-left: 84px;
padding-right:84px ; */
}
.AuthHeader .title
{
    color: #0370FF;
    font-weight: bold;
}

.AuthHeader .languages {
	margin-right: 24px;
	margin-left: 16px;
	cursor: pointer;
    margin-top: 15px !important;
}
.AuthHeader .languageWord
{
    margin-top: 14px;
}
.AuthHeader .dropdownmenu {
	display: flex;
	justify-content: flex-end;
    margin-top: 10px ;

}
.AuthHeader .dropdownmenu .ant-dropdown-trigger {
	display: flex;
	justify-content: space-between;
    width: 50%;
    margin-right: 25px;
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;

align-items: center;
}
@media (max-width: 768px) {
    .AuthHeader
    {
        margin-top: 42px;
        margin-bottom: 24px;
    }
    .AuthHeader .dropdownmenu
{
    display:flex !important;
    justify-content: flex-end !important;
}
  }