.actionsContainer {
	display: flex;
	justify-content: space-between;
}
.actionsContainer > div > div img {
	cursor: pointer;
}
.createRFQ textarea {
	background: #f5f5f5 !important;
	resize: none !important;
	border: none !important;
	overflow: auto;
	scrollbar-width: none;
}
.createRFQ textarea::-webkit-scrollbar {
	display: none;
}
.createRFQ .addressBar {
	width: 50%;
}
.createRFQ .button-primary.native {
	width: 270px;
	margin: auto !important;
}
.createRFQ table {
	width: max-content !important;
}
.createRFQ .primary-color {
	color: #003b6b;
}
.createRFQ .secondary-color {
	color: #666666;
}

@media (max-width: 768px) {
	.createRFQ .ant-table-cell {
		font-size: 13px !important;
	}
}
