.postRFQSuccessModal .ant-modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.postRFQSuccessModal .button-secondary{
    color:#003b6b;
    border: 1px solid #003b6b;
}