.cartContainer {
	width: 100%;
}
.cartContainer .productRow {
	background-color: #fbfbfb;
	padding: 10px;
}
.cartContainer .title > span {
	color: red;
}
.cartContainer .productRow {
	width: 100%;
	overflow: auto;
}
.cartContainer .productRow .productImage {
	width: 50px;
	height: auto;
	border-radius: 25px;
}
/* .cartContainer .item {
	max-width: 14%;
	word-break: break-all;
} */

.cartContainer .item {
	text-align: end;
	margin: 0 20px;
}
.cartContainer.item img {
	height: 20px !important;
	width: 20px !important;
}
.cartContainer .totalPrice {
	color: red;
}
.cartContainer .itemsContainer {
	overflow: auto;
}

@media (max-width: 768px) {
	.cartContainer .productRow {
		flex-direction: column;
		text-align: center;
	}
	.cartContainer .productRow > div:nth-of-type(2) {
		margin-top: 10px;
	}
}
