.cartContainer .productRow {
	background-color: #fbfbfb;
	padding: 10px;
}
.cartContainer .title > span {
	color: red;
}
.cartContainer .productRow > img {
	width: 59px;
	height: 37px;
	border-radius: 50%;
}
