.cartContainer .productRow {
	background-color: #fbfbfb;
	padding: 10px;
}
.cartContainer .title > span {
	color: red;
}
.cartContainer .productRow .productImage {
	width: 50px;
	height: auto;
	border-radius: 25px;
}
.cartContainer .item {
	width: 14%;
	word-break: break-all;
}

.cartContainer .item {
	text-align: end;
}
.cartContainer.item img {
	height: 20px !important;
}
.cartContainer .totalPrice {
	color: red;
}
.cartContainer .itemsContainer {
	overflow: auto;
}
