.reverseAuctionSettings{
    width: 100%;
}
.reverseAuctionSettings .title{
    font-size: 17px;
    color:#032440;
}

.reverseAuctionSettings .avatar{
    width:45px;
    height: 45px;
}

.reverseAuctionSettings .membersBox{
    height: 300px;
    color: #005FB1;
    overflow-y: scroll;
    width: 60%;
}
.reverseAuctionSettings .ant-checkbox-wrapper>span{
    display: flex;
    justify-content: center;
}

.reverseAuctionSettings .membersBox::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
  }
  
  /* Track */
 .reverseAuctionSettings .membersBox::-webkit-scrollbar-track {
    background: #E4E4E4;
    border-radius: 5px;  
}
  
  /* Handle */
  .reverseAuctionSettings .membersBox::-webkit-scrollbar-thumb {
    background: #8E8E8E;
    border-radius: 5px;  
}
  
  /* Handle on hover */
  .reverseAuctionSettings .membersBox::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .reverseAuctionSettings .dateTimePicker{
    width: 156px;
    border-color: #2699FB;
    border-radius: 5px;
    color: #2699FB;
  }
  .reverseAuctionSettings .radioButton .ant-radio-wrapper{
    color:#005FB1 !important;
    margin-bottom: 10px !important;
  }
  .reverseAuctionSettings textArea{
    width: 100%;
    height: 100px;
    resize: none;
  }

  @media(max-width:768px){
    .reverseAuctionSettings .membersBox{
        width: 99%;
        margin-bottom: 20px; 
    }
  }