
.Registration .languages {
	margin-right: 24px;
	margin-left: 20px;
	cursor: pointer;
}
.Registration .dropdownmenu {
	display: flex;
	justify-content: flex-end;
}
.Registration .selsect-field {
	background-color: #fff;
	border-radius: 5px !important;
	height: 44px !important;
	border: 1px solid #bce0fd !important;
	color: #bce0fd !important;
	width: 95% !important;
	margin-bottom: 16px !important;
}
.Registration .dropdownmenu #dropdown-basic{
	background: #F5F5F5 0% 0% no-repeat padding-box;
		border: none;
		color: #707070;
		padding-left: 24px;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-right: 35px;
	width: 242px;
}
.Registration .dropdownmenu #dropdown-basic:focus{
border: none;
box-shadow: none;
}
.Registration .dropdown-menu {
	width: 100% !important;
}
.dropdown-toggle::after {
margin-left: 99px !important;
}
.Registration .checked {
	color: #003b6b;
	margin-bottom: 16px !important;

}
.Registration .selsect-field:focus {
	background-color: #fff;
	border: 1px solid #0370ff !important;
	color: #0370ff !important;
	margin-bottom: 16px !important;
	background: linear-gradient(45deg, transparent 50%, #0370ff 50%),
		linear-gradient(135deg, #0370ff 50%, transparent 50%);

	background-position: calc(100% - 21px) calc(1em + 10px),
		calc(100% - 16px) calc(1em + 10px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
}
.Registration .selsect-field {
	background: linear-gradient(45deg, transparent 50%, #bce0fd 50%),
		linear-gradient(135deg, #bce0fd 50%, transparent 50%);

	background-position: calc(100% - 21px) calc(1em + 10px),
		calc(100% - 16px) calc(1em + 10px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;

	border: none;
	font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5em;

	/* reset */

	border-radius: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.Registration select:focus-visible {
	border: none;
	outline: none;
}
.Registration .ant-radio-group {
	margin-top: 40px;
}
.Registration .f-27 {
	font-weight: bold;
	color: #0370ff;
}
::placeholder {
	color: #bce0fd;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #bce0fd;
}

::-ms-input-placeholder {
	color: #bce0fd;
}
input:focus::-webkit-input-placeholder {
	color: #0370ff;
}

input:focus:-moz-placeholder {
	color: #0370ff;
}

input:focus::-moz-placeholder {
	color: #0370ff;
}
input:focus:-ms-input-placeholder {
	color: #0370ff;
}

.Registration .button-primary {
	padding-left: 144px;
	padding-right: 144px;
}
.Registration .button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 75px;
}
.Registration .button button {
	margin-bottom: 16px;
}
.Registration .content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}
.Registration .ant-radio-group-outline {
	margin-bottom: 40px;
}
.Registration .lastRadio {
	margin-left: 180px;
}
.Registration select {
	background: linear-gradient(45deg, transparent 50%, black 50%),
		linear-gradient(135deg, black 50%, transparent 50%);

	/* linear-gradient(to right, skyblue, skyblue); */
	background-position: calc(100% - 21px) calc(1em + 10px),
		calc(100% - 16px) calc(1em + 10px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;

	/* styling and reset */

	border: none;
	background-color: #f5f5f5;
	font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5em;
	padding: 14px 24px;
	padding-right: 135px;

	/* reset */

	border-radius: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.Registration .ant-radio-inner {
	border-color: #bce0fd;
}
.Registration .ant-radio:hover .ant-radio-inner {
	border-color: #bce0fd !important;
}
.Registration .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.Registration .ant-checkbox:hover .ant-checkbox-inner,
.Registration .ant-checkbox-input:focus + .Registration .ant-checkbox-inner {
	border-color: #bce0fd !important;
}
.Registration .active {
	color: #0370ff;
}
.Registration .ant-radio-wrapper-checked span {
	color: #0370ff !important;
}
.Registration .ant-radio-wrapper span {
	color: #bce0fd;
}
.Registration input::-webkit-outer-spin-button,
.Registration input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.Registration input[type="number"] {
	-moz-appearance: textfield;
}
.Registration .ant-checkbox-inner {
	/* color: #bce0fd !important; */
	border-color: #bce0fd;
}
.Registration .checkSignIn {
	color: #bce0fd;
}

.Registration .checkSignIn a {
	color: #bce0fd;
}
.Registration .checkSignIn{
	margin-bottom: 40px;
}
@media screen and (max-width: 765px) {
	.Registration .dropdownmenu {
		display: flex;
		justify-content: flex-start;
		margin: 16px 0px;
	}
}
