.profileDetailsModal .profileCompImage {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #00000029;
}

.profileDetailsModal.modal-lg .ant-modal-body {
  display: flex;
  flex-direction: column;
}
.profileDetailsModal .profileDetailsModal__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}
.profileDetailsModal .imgContainer:hover {
  filter: brightness(70%);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.profileDetailsModal .userType {
  color: #a0c9ff;
}

.profileDetailsModal .imgContainer {
  position: relative;
}
.profileDetailsModal .imgContainer > img:nth-of-type(2) {
  width: 29px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profileDetailsModal .companyBorder {
  border: 1px solid #707070;
}
.profileDetailsModal .inputField {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100% !important;
  border: none;
}
.profileDetailsModal .inputField .dropdown,
.profileDetailsModal .inputField .dropdown .dropdown-trigger,
.profileDetailsModal .inputField .dropdown .dropdown-trigger .tag-list {
  width: 100%;
}
.profileDetailsModal .inputField .dropdown .dropdown-trigger {
  display: flex;
  border-color: #bce0fd;
}
.profileDetailsModal .inputField .tag-item > input {
  border-bottom: none;
}
.profileDetailsModal .inputField .tag-item > input::placeholder {
  color: #0370ff;
}
.profileDetailsModal .labelContainer {
  margin-top: 10px;
}
.profileDetailsModal .changePassword {
  flex: 0.27;
}
.profileDetailsModal .labelContainer label {
  color: #003b6b;
  font-size: 14px;
}
.profileDetailsModal .labelContainer div {
  color: #bce0fd;
}

.profileDetailsModal .labelContainer.w-80 {
  width: 80%;
}

.profileDetailsModal .labelContainer .commercialRegister {
  border-radius: 5px;
  width: 48px;
  height: 37px;
}
.profileDetailsModal .button-primary {
  padding: 5px 50px;
}
.profileDetailsModal .button-secondary {
  border-color: #003b6b;
  color: #003b6b;
}

.profileDetailsModal .input-field {
  height: 32px;
  border-radius: 5px;
  color: #bce0fd;
  border-color: #bce0fd;
}

@media (min-width: 769px) {
  .profileDetailsModal .pl-5 {
    padding-left: 5%;
  }
  .profileDetailsModal .pr-5 {
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
  .profileDetailsModal .mb-20 {
    margin-bottom: 20px;
  }
  .profileDetailsModal .changePassword {
    flex: 0.6;
  }
  .profileDetailsModal.ant-modal {
    padding: 0;
  }

  .profileDetailsModal .btnContainer {
    flex-direction: column-reverse;
  }
  .profileDetailsModal .btnContainer button {
    margin: 5px 0;
  }
}
