.PersonalInfo {
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.PersonalInfo .orange_btn {
	height: fit-content;
	padding: 10px;
}
.PersonalInfo .mobile {
	color: #2699fb;
}
.PersonalInfo > div:first-of-type {
	display: flex;
	flex-wrap: wrap;
}
.PersonalInfo img {
	width: 102px;
	height: 102px;
	border-radius: 50%;
}
.PersonalInfo .info {
	margin: 10px;
}
.PersonalInfo .progress {
	height: 14px;
	width: 230px;
	border-radius: 30px;
	margin-top: 4px;
}
.PersonalInfo .progressContainer span {
	margin-right: 15px;
	margin-left: 15px;
	width: 100%;
}
.PersonalInfo .progress .progress-bar {
	border-radius: 30px !important;
}
.PersonalInfo .progressContainer {
	display: flex;
	margin-bottom: 10px;
}

.PersonalInfo .progressContainer span {
	color: #005fb1;
}

.PersonalInfo .actions {
	display: inline-block;
}
.PersonalInfo .actions.left {
	margin-left: auto;
}
.PersonalInfo .actions.right {
	margin-right: auto;
}

@media (max-width: 480px) {
	.progressContainer {
		flex-direction: column;
	}
	.progressContainer .progress {
		width: 90%;
	}
	.progressContainer > span {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.PersonalInfo .actions {
		margin-left: 0;
		margin-right: auto;
	}
	.PersonalInfo .actions .popup-button-secondary,
	.PersonalInfo .actions .popup-button-primary {
		font-size: 12px;
		padding: 2px 20px;
	}
}
