.verifyByEmail .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 52px;
	padding-bottom: 52px;
	height: 74vh;

	text-align: center;
}
.verifyByEmail .content img {
	padding-bottom: 33px;
	width: 140px;
}
.verifyByEmail .content h3 {
	color: #003b6b;
	margin-bottom: 32px;
}
.verifyByEmail .content p {
	color: red;
}
.verifyByEmail .button {
	margin-top: 20px;
}
.verifyByEmail .button button {
	margin-top: 20px;
	font-size: 14px;
}

.vi__character {
	/* line-height: 50px; */
	font-size: 24px !important;
	color: #707070 !important;
	background-color: #fff !important;
	border: 1px solid #e7e7e7 !important;
	border-radius: 8px;
	margin-left: 8px;
}

.vi__character:first-child {
	margin-left: 0;
}

.vi__character--inactive {
	background-color: rgba(255, 255, 255, 0.1);
}

.vi__character--selected {
	border: 1px solid white;
}
.vi__character--selected--default {
	color: #003b6b !important;
	outline: 1px solid #003b6b !important;
}

@media only screen and (max-width: 768px) {
	.verifyByEmail .content img {
		padding-bottom: 25px;
	}
	.ant-modal-body .closIcon {
		width: 24px;
		cursor: pointer;
	}
}
