.privateTender .addMailSumbitBtn{
	display: block;
	border: none;
	outline: none;
}
.privateTender .capsulesContainer{
	width: 30%;
}


@media (max-width: 768px) {
	.privateTender>div {
		flex-direction: column;
	}
	.privateTender .orTitle {
		text-align: center;
	}
}
@media (min-width:769px){
	.privateTender .privateTender-container {
		margin-top: 55px !important;
	}
}