.privateTender .addMailSumbitBtn{
	display: block;
	border: none;
	outline: none;
}
.privateTender .capsulesContainer{
	width: 30%;
}


.privateTender .privateTender-container {
	margin-top: 55px !important;
}
.privateTender .inviteByWhatsappNote{
	color:#707070
}

@media (max-width:768px){
	.privateTender>div,.privateTender .inviteByEmailContainer,.privateTender .selectFavVendorsContainer {
		flex-direction: column !important;
	}

	.privateTender .orTitle {
		text-align: center;
		margin: 20px 0;
	}
	.privateTender .privateTender-container {
		margin-top: 20px !important;
	}

}
