.businessCard {
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px 20px 5px;
  min-height: 100%;
  margin-right: 1rem;
  flex: 1;
  padding: 1.5rem;
}
.businessCard ul .item {
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.businessCard .businessCard__label {
  color: #707070;
  font-weight: bold;
  margin-right: 0.5rem;
}
.businessCard .businessCard__val {
  color: #003b6b;
}

html[dir="rtl"] .businessCard {
  margin-right: 0;
  margin-left: 0.7rem;
}
html[dir="rtl"] .businessCard .businessCard__label {
  margin-right: unset;
  margin-left: 0.5rem;
}

@media (max-width: 767px) {
  .businessCard {
    margin-right: unset;
    margin-bottom: 1rem;
  }
  .businessCard.companyImg {
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  .companyProfile__header {
    margin-right: 0 !important;
  }
  .businessCard > .d-flex {
    flex-direction: column;
  }
}
