section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.f-42 {
	font-size: 34.18px;
}

.f-34 {
	font-size: 34.18px;
}

.f-27 {
	font-size: 27.34px;
}

.f-21 {
	font-size: 21.88px;
}

.f-17 {
	font-size: 17.5px;
}

.f-14 {
	font-size: 14px;
}
.f-10 {
	font-size: 10px;
}
.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}
.pr-0 {
	padding-right: 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}

.input-field {
	border-radius: 5px;
	height: 44px;
	border: 1px solid #bce0fd;
	color: #bce0fd;
	padding-left: 8px;
	padding-right: 8px;
	width: 95%;
	margin-bottom: 16px;
}
.Checkbox-field {
	color: #bce0fd !important;
	margin-bottom: 16px !important;
}
/* .ant-checkbox-inner{
	border: #0370ff !important;
} */

.input-field:focus {
	outline: none;
	border-color: #0370ff;
	color: #0370ff;
}

.button-primary,
.button-secondary {
	background: #003b6b 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	height: 44px;
	color: #fff;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	cursor: pointer;
}
.button-secondary {
	background: transparent;
	border: 1px solid #f50000;
	color: #f50000;
}
.popup-button-primary,
.popup-button-secondary {
	background: #003b6b 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	height: 32px;
	color: #fff;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	cursor: pointer;
	font-size: 14px;
}
.popup-button-secondary {
	background: transparent;
	border: 1px solid #f50000;
	color: #f50000;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.rtlStars {
	display: flex;
	flex-direction: row-reverse;
}
.ltrStars {
	display: flex;
	flex-direction: row;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	padding-left: 0;
	padding-right: 0;
}

.ppl {
	padding-left: 84px !important;
}
.ppr {
	padding-right: 84px !important;
}

@media (max-width: 480px) {
	.ppl {
		padding-left: 16px !important;
	}
	.ppr {
		padding-right: 16px !important;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.ppl {
		padding-left: 30px !important;
	}
	.ppr {
		padding-right: 30px !important;
	}
}

@media (min-width: 769px) and (max-width: 1099px) {
	.ppl {
		padding-left: 60px !important;
	}
	.ppr {
		padding-right: 60px !important;
	}
}
