.footer {
	width: 100%;
	background: #001826;
	color: #fff;
	text-align: center;
}

.footer > div:first-of-type,
.footer > div:nth-of-type(3) {
	height: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.footer img {
	max-width: 135px;
	max-height: 28px;
}

.footer .divider {
	background-color: #fff;
	width: 90%;
	height: 1px;
	margin: 0 auto;
}
