.navbar {
	width: 100%;
	background-color: rgba(0, 59, 107, 0.75);
	padding: 20px 0px !important;
}

.navbar.light {
	background-color: #fff;
	padding-right: 84px !important;
	padding-left: 84px !important;
}
.navbar .userType {
	color: #f5f5f5;
	display: flex;
	align-items: center;
}
.navbar .userType.leftStyles {
	border-left: 1px solid;
	padding-left: 20px;
	margin-left: 20px;
}
.navbar .userType.rightStyles {
	border-right: 1px solid;
	padding-right: 20px;
	margin-right: 20px;
}
.navbar .controlIcon {
	flex-grow: 1;
}
.navbar .flex-grow-0 {
	flex-grow: 0 !important;
}
.navbar .flex-grow-1 {
	flex-grow: 1 !important;
}
.navbar .avatar {
	width: 35px;
	height: 35px;
	margin-right: 20px;
}

.navbar .avatar.mr-20 {
	margin-right: 20px;
}

.navbar .avatar.ml-20 {
	margin-left: 20px;
}
.ant-dropdown-menu-title-content > a {
	text-decoration: none !important;
}
.dark .navbar-nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.dark .loginNavbar {
	display: flex;
	justify-content: flex-end;
}
.dark .loginNavbar .registration {
	border-right: 1px solid #ddd;
	padding-right: 16px !important;
	padding-left: 15px !important;
}
.dark .navbar-nav .nav-link {
	color: #fff !important;
}

.navbar .centerNav {
	display: flex;
	width: 360%;
	justify-content: space-around;
}
.navbar .centerNav img {
	margin: 0 5px;
}

.navbar .endNav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.navbar img.langIcon {
	filter: brightness(300%);
}
.navbar-dark .navbar-toggler {
	box-shadow: none;
}
.navbar-dark .navbar-toggler:focus {
	box-shadow: 0 0 0 0.5px;
}
.register_btn {
	background: rgba(38, 88, 129, 1);
	padding-left: 18px !important;
	padding-right: 18px !important;
	border-radius: 5px;
	margin-left: 18px;
	margin-right: 18px;
}

@media (max-width: 991px) {
	.navbar {
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}

	.navbar .endNav,
	.navbar .centerNav,
	.navbar .centerNav > div {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.navbar .centerNav {
		width: 100%;
	}
	.navbar .personalInfoContainer {
		flex-direction: row-reverse;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.navbar .userType.leftStyles,
	.navbar .userType.rightStyles {
		border-left: none;
		border-right: none;
		margin: 0;
		padding: 0;
	}
	.navbar .userType.leftStyles {
		margin-left: 10px;
	}
	.navbar .userType.rightStyles {
		margin-right: 10px;
	}
	.navbar .avatar.mx-4 {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.navbar .navbar-nav {
		flex-direction: column;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.navbar.light {
		background-color: #fff;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
	.pl-28 {
		padding-left: 28px !important;
	}
	.register_btn {
		background: none;
		margin-left: unset !important;
		margin-right: unset !important;
		padding-right: unset !important;
		padding-left: unset !important;
	}
}
