.navbar {
	height: 88px;
	width: 100%;
	background-color: rgba(0, 59, 107, 0.85);
	color: #fff !important;
}

.navbar.light {
	background-color: #fff;
}

.dark .navbar-nav .nav-link {
	color: #fff !important;
}

.navbar .navbar-nav {
	width: 100%;
}
.navbar .centerNav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar .endNav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
