.products .noProducts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.products .noProducts > div {
	font-size: 21px;
	color: #707070;
}
.products .noProducts > div:nth-of-type(2) {
	font-size: 16px;
}

@media (max-width: 768px) {
	.products .orange_btn {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		text-align: center;
		padding: 0;
		border-radius: 50%;
	}
	.products .orange_btn > span {
		display: none !important;
	}
	.products .orange_btn > img {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
